@import "tailwindcss";
@import "@fontsource/passion-one";
@import "@fontsource/pacifico";
@import "@fontsource-variable/montserrat";

@theme {
  --font-passion-one: "Passion One", system-ui;
  --font-pacifico: "Pacifico", cursive;
  --font-sans: "Montserrat Variable", sans-serif;
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

::-webkit-scrollbar {
  @apply w-4;
}

::-webkit-scrollbar-thumb {
  @apply rounded-xl border-4 bg-rose-500 border-solid border-transparent bg-clip-content;
}

::-webkit-scrollbar-track {
  @apply bg-rose-100;
}