---
import Navbar from "../components/Navbar/Navbar.astro";
import Analytics from "@vercel/analytics/astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Dulce Tentación</title>
    <meta
      name="description"
      content="Azúcar tradicional o Stevia, disfruta de nuestros riquísimos postres en sus diferentes presentaciones sin impedimentos."
    />
    <meta
      name="keywords"
      content="Dulces,Postres,Tentación,Stevia,Saludable,Azúcar,Riquísimos,Perú,Talara,Diabéticos,Alternativa"
    />
    <meta property="og:title" content="Dulce Tentación" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dulcetentacion.vercel.app" />
    <meta
      property="og:description"
      content="Azúcar tradicional o Stevia, disfruta de nuestros riquísimos postres en sus diferentes presentaciones sin impedimentos."
    />
    <!-- <meta property="og:image" content="https://">
    <meta property="og:image:alt" content=""> -->
    <Analytics />
  </head>
  <body class="bg-rose-100">
    <Navbar />
    <slot />
  </body>
</html>
